<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Auto Top Up Suite">
    <parameter name="groupReport" value="/DroidReport.html"/>
    <parameter name="toMails" value="soli@seamfix.com;"/>
    <test name="AutoTopUp-Android">
        <parameter name="email" value="sunepastar13@gmail.com"/>
        <parameter name="pwd" value="123456add"/>
        <parameter name="systemPort" value="8220"/>
        <parameter name="deviceNo" value="1"/>
        <classes><!--
            <class name="admin.Login">
                <methods>
                    <include name="loginWithEmptyEmailAndPassword" />
                    <include name="loginWithEmptyEmailAndValidPassword"/>
                    <include name="loginWithValidEmailAndInvalidPassword"/>
                    <include name="loginWithInvalidEmailAndValidPassword"/>
                    <include name="loginWithInValidEmailAndInvalidPassword"/>
                </methods>
            </class>
            <class name="admin.AutoTopUp">
                <methods>
                    <include name="Login" />
                    <include name="AutoTopupWithNumber" />
                </methods>
            </class>

            <class name="admin.InstantPopUp">
                <methods>
                    <include name="Login" />
                    <include name="InstantPopUpMyNum"/>
                    <include name="InstantPopUpNewNum"/>
                    <include name="InstantPopUpFromSavedProfiles"/>
                </methods>
            </class>-->
            <!--<class name="admin.ScheduledTopUp">
                <methods>
                    <include name="Login"/>
                    <include name="ScheduledTopUpMyNumOneOff"/>
                    <include name="ScheduledTopUpMyNumDaily"/>
                    <include name="ScheduledTopUpMyNumWeekly"/>
                    <include name="ScheduledTopUpMyNumMonthlyFistday"/>
                    <include name="ScheduledTopUpMyNumMonthlyLastday"/>
                    <include name="ScheduledTopUpInputNumOneOff"/>
                    <include name="ScheduledTopUpInputNumDaily"/>
                    <include name="ScheduledTopUpInputNumWeekly"/>
                    <include name="ScheduledTopUpInputNumMonthlyFistday"/>
                    <include name="ScheduledTopUpInputNumMonthlyLastday"/>
                    <include name="ScheduledTopUpSavedProfileOneOff"/>
                    <include name="ScheduledTopUpSavedProfileDaily"/>
                    <include name="ScheduledTopUpSavedProfileWeekly"/>
                    <include name="ScheduledTopUpSavedProfileMonthlyFistday"/>
                    <include name="ScheduledTopUpSavedProfileMonthlyLastday"/>
                    <include name="editScheduledTopup"/>
                    <include name="DeactivateScheduledTopup"/>
                </methods>
            </class>
            <class name="admin.TransactionLog">
                <methods>
                    <include name="Login"/>
                    <include name="TransactionsTest"/>
                </methods>
            </class>

            <class name="admin.Bonuses">
                <methods>
                    <include name="Login"/>
                    <include name="Bonus"/>
                    <include name="referralsBonus"/>
                </methods>
            </class>-->
            <class name="admin.PaymentOptions">
                <methods>
                    <include name="Login"/><!--
                    <include name="AddMasterCard"/>
                    <include name="AddVisaCard"/>
                    <include name="CardStatus"/>
                    <include name="WalletThroughBank"/>-->
                    <include name="WalletThroughMasterCard"/>
                    <include name="WalletThroughVisaCard"/>
                    <include name="WalletThroughVerveCard"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> <!-- Suite -->